@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
      theme-type: dark,
    ),
    typography: (
      plain-family: 'Inter, "Segoe UI", Roboto, system-ui, sans-serif',
      brand-family: 'Georgia, Merriweather, Palatino Linotype, serif',
    ),
    density: 0,
  ));
}
